{% extends 'base.html.twig' %}

{% block title %}Espace d'administration{% endblock %}

{% block body %}
    {% set countReview = 0 %}
    {% set countReported = 0 %}

        {% for comment in comments %}
            {% if comment.status == 'Signalé' %}
                {% set countReported = countReported + 1 %}
            {% endif %}
            {% if comment.status == 'Besoin d\'un examen'%}
                {% set countReview = countReview + 1 %}
            {% endif %}

        {% endfor %}

    <div class="container-fluid flex-fill">
        <div class="row">
            <div class="col-12 col-sm-4 col-md-4 col-lg-2">
                <div class="nav flex-column nav-pills text-center" id="v-pills-tab" role="tablist"
                     aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
                       aria-controls="v-pills-home" aria-selected="true">Gérer les Posts</a>
                    <a class="nav-link" id="v-pills-commentReported-tab" data-toggle="pill" href="#v-pills-commentReported" role="tab"
                       aria-controls="v-pills-commentReported" aria-selected="false">Commentaires signalés {% if countReported != 0 %}<span class="badge badge-primary">{{ countReported }}</span>{% endif %}</a>
                    <a class="nav-link mb-4" id="v-pills-commentPendingReview-tab" data-toggle="pill" href="#v-pills-commentPendingReview" role="tab"
                       aria-controls="v-pills-commentReported" aria-selected="false">Commentaires besoin validation {% if countReview != 0 %}<span class="badge badge-primary">{{ countReview }}</span>{% endif %}</a>
                </div>
            </div>
            <div class="col-12 col-sm-8 col-md-8 col-lg-10">
                <div class="tab-content" id="v-pills-tabContent">
                    {% include 'layout/managePosts.html.twig' %}
                    {% include 'layout/manageCommentReported.html.twig' %}
                    {% include 'layout/manageCommentsPendingReview.html.twig' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
