<footer class="container-fluid text-light text-center bg-primary py-3">
    <div class="row align-items-center">
        <div class="col">
            © 2021 Copyright: <a class="text-secondary" href="https://alexandrecavanna.fr/"> Alexandre Cavanna</a>
        </div>
        <div class="col">
            <a class="btn btn-primary" href="/admin">Espace d'administration</a>
        </div>
    </div>
</footer>
