{
  "branch": "master",
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "conventionalcommits",
        "releaseRules": [
          {"type": "ci", "scope":"github action", "release": "patch"},
          {"type": "setup", "release": "patch"}
        ],
      }
    ],
    [
      "@semantic-release/release-notes-generator",
      {
        "preset": "conventionalcommits",
        "presetConfig": {
          "types": [
            {
              "type": "feat",
              "section": ":sparkles: Features",
              "hidden": false
            },
            {
              "type": "fix",
              "section": ":bug: Bug Fixes",
              "hidden": false
            },
            {
              "type": "docs",
              "section": ":memo: Documentation",
              "hidden": false
            },
            {
              "type": "refactor",
              "section": ":zap: Code Refactoring",
              "hidden": false
            },
            {
              "type": "perf",
              "section": ":fast_forward: Performance Improvements",
              "hidden": false
            },
            {
              "type": "test",
              "section": ":white_check_mark: Testes",
              "hidden": false
            },
            {
              "type": "ci",
              "section": ":repeat: CI",
              "hidden": false
            },
            {
              "type": "setup",
              "section": ":white_check_mark: Setup",
              "hidden": false
            },
            {
              "type": "chore",
              "hidden": true
            },
          ]
        },
        "writerOpts": {
          "date": 'dd-mm-yyyy'
        }
      }
    ],
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "CHANGELOG.md"
      }
    ],
    "@semantic-release/github",
    [
      "@semantic-release/git",
      {
        "assets": [
          "CHANGELOG.md"
        ],
        "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
      }
    ]
  ]
}
