{% extends 'base.html.twig' %}

{% block body %}
<div class="container flex-fill">
    <h1>Connexion</h1>
    <form action="/login" method="post">
        <div class="row">
            <div class="col form-group form">
                <label for="InputEmail" class="form-label">Adresse email</label>
                <input type="email" name="email" class="form-control" id="InputEmail" aria-describedby="emailHelp" value="example@gmail.com" required>
            </div>
            <div class="col form-group">
                <label for="InputPassword" class="form-label">Mot de passe</label>
                <input type="password" name="password" class="form-control" id="InputPassword" required>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Se connecter</button>
    </form>
</div>
{% endblock %}
