{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
            {% for flash in flashs %}
                <div class="row">
                    <div class="col">
                        <div class="alert alert-dismissible alert-success mb-0">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <div><strong>{{ flash }}</strong></div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        <div class="row py-4">
            <div class="col-lg-4 col-md-12 text-center mb-4" id="picture">
                <img src="/img/alexandre-cavanna.jpg" alt="Alexandre CAVANNA" class="rounded img-fluid">
            </div>
            <div class="col-lg-8 col-md-12">
                <h3 class="text-center"><span class="font-weight-bold text-primary">Alexandre CAVANNA</span>, <span class="text-secondary">Développeur Web</span>.</h3>

                <ul class="list-unstyled d-flex justify-content-center row small text-muted">
                    <li class="mr-2">
                        <i class="fas fa-user text-primary"></i>
                        23 ans
                    </li>
                    <li class="mr-2">
                        <i class="fas fa-paper-plane text-primary"></i>
                        alexandre.cavanna.pro@gmail.com
                    </li>
                </ul>

                <p class="text-justify">
                    <span class="">Curieux</span> et <span class="font-weight-bold">passionné</span> par l'informatique et plus particulièrement par le <span class="font-weight-bold">développement Web</span>, j'ai pu acquérir de nombreuses compétences professionnelles en <span class="font-weight-bold">autodidacte</span> et en suivant le parcours de <span class="font-weight-bold">Développeur Web Junior (niveau III)</span> chez OpenClassrooms ainsi que dans mon <span class="font-weight-bold">BTS SIO</span>.
                </p>
                <p class="text-justify">
                    N'hésitez pas à me <a href="#contact" class="text-secondary font-weight-bold">contacter</a> pour plus de <span class="font-weight-bold">renseignements</span>.
                </p>
                <div class="col text-center">
                    <a href="/cv/alexandrecavanna.pdf" class="btn btn-primary">Voir CV</a>
                </div>

                <hr>

                <div class="text-center">
                    <a href="https://www.linkedin.com/in/alexandre-cavanna-194448125/" target="_blank" title="Mon Linkedin"><i class="fab fa-linkedin text-primary"></i></a>
                    <a href="https://github.com/AlexandreCAVANNA" target="_blank" title="Mon Github"><i class="fab fa-github-square text-primary"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <form action="/send-email" method="post">
            <h2 class="text-center" id="contact">Contact</h2>
            <div class="form-group">
                <label for="exampleInputName1">Nom / Prénom</label>
                <input type="text" name="name" class="form-control" id="exampleInputEmail1" aria-describedby="nameHelp" placeholder="Entrez votre nom et prénom" required>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Adresse email</label>
                <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Entrez votre email" required>
                <small id="emailHelp" class="form-text text-muted">Nous ne partagerons jamais votre e-mail avec une
                    autre personne .</small>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Message</label>
                <textarea type="text" name="message" rows="5" class="form-control" id="exampleInputPassword1" placeholder="Votre message" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary mb-4">Envoyer</button>
        </form>
    </div>

{% endblock %}
